.tile{
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    background-color: aqua;
    border-radius: 25px;
    margin-top: 10px;
    .add-card{
        display: block;
        position: relative;
        width: max-content;
        height: max-content;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        border-radius: 50%;
        padding: 0px;
    }
    .add-card:hover{
        background-color: rgb(7, 90, 90);
    }
    input{
        display: block;
        margin: 10px auto;
        width: 60%;
        text-align: center;
    }
    img{
        width: 100%;
        height: 400px;
    }
    p{
        text-align: center;
        font-weight: 600;
    }
}